.nmc-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.35rem;
    background: linear-gradient(90deg, #d39053 0%, #F9EADA 49.04%, #dfa462 100%);
    border: 2px solid #ffb86b;
    border-radius: 10px;
    color: $color-primary;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1;
    font-family: $font-second;
    padding: 0px 24px;
    cursor: pointer;
    height: 49px;
    text-decoration: none;
    transition: $transition-base;
    position: relative;
    padding-bottom: 2px;

    @media (max-width: 767.98px) {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -1px;
        height: 45px;
    }

    svg {
        path {
            fill: currentColor;
            transition: $transition-base;
        }
    }

    &.is-style-secondary {
        background: linear-gradient(90deg, #E0B061 0%, #774923 100% 100%);
        color: #fff;
        border: none;
        line-height: 1.43;
        letter-spacing: -1px;

        svg {
            path {
                fill: #fff;
            }
        }
    }

    &.is-style-green {
        background: $color-green;
        border-color: $color-green;
        color: #fff;

        svg {
            path {
                fill: #fff;
            }
        }
    }

    &::before,
    &:after {
        content: " ";
        display: inline-block;
        position: absolute;
        width: 45px;
        height: 45px;
        pointer-events: none;
        animation-delay: 1s;
        background-image: url(../../images/star.webp);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &::before {
        top: -23px;
        left: 0;
        animation: n9_star_top 14s linear infinite forwards;
    }

    &::after {
        bottom: -23px;
        right: 0;
        animation: n9_star_bottom 14s linear infinite forwards;
    }
}

@keyframes n9_star_top {
    0% {
        opacity: 0;
        left: 0;
        transform: scale(.4);
    }

    5% {
        opacity: .9
    }

    15% {
        left: calc(50% - 45px);
        opacity: 1;
        transform: scale(1);
    }

    40% {
        opacity: .9
    }

    45% {
        left: calc(100% - 45px);
        transform: scale(.9);
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes n9_star_bottom {
    0% {
        opacity: 0;
        right: 0;
        transform: scale(.4);
    }

    5% {
        opacity: .9
    }

    15% {
        right: calc(50% - 45px);
        opacity: 1;
        transform: scale(1);
    }

    40% {
        opacity: .9
    }

    45% {
        right: calc(100% - 45px);
        transform: scale(.9);
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}