html {
    scroll-behavior: smooth;
    scroll-padding-top: 64px;


    .logged-in & {
        scroll-padding-top: 96px;

        @media screen and (max-width: 782px) {
            scroll-padding-top: 110px;
        }
    }
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    letter-spacing: 0.06em;
}

h1 {
    font-size: 48px;

    @include media-breakpoint-up(lg) {
        font-size: 64px;
    }
}

h2 {
    font-size: 32px;

    @include media-breakpoint-up(lg) {
        font-size: 48px;
    }
}

h3 {
    font-size: 28px;

    @include media-breakpoint-up(lg) {
        font-size: 36px;
    }
}

img {
    max-width: 100%;
    height: auto;
}


@keyframes s2 {
    to {
        transform: rotate(1turn)
    }
}