.page-template-about-template {
    .hero-section {
        padding-bottom: 50px;

        h1 {
            color: #692f6e;
        }

        p {
            color: #fff;
            margin-top: -0.5em;
        }
    }

    .about-section {
        padding-top: 70px;
        padding-bottom: 120px;

        @media (max-width: 767.98px) {
            padding-top: 45px;
        }

        >.container {
            max-width: 704px;
        }

        .nmc-section-bg img {
            object-position: center bottom;
        }

        h2 {
            color: #333333;
        }

        p {
            color: #333;
            font-size: 18px;
            line-height: 30.6px;
            font-weight: 400;
            margin-top: 20px;

            @media (max-width: 767.98px) {
                font-size: 15px;
                letter-spacing: 0.01em;
                line-height: 1.5;
            }

            span {
                display: inline-block;
                width: 100%;
            }
        }
    }

    .point-section {
        background: #ffff;
        padding-bottom: 68px;

        @media (max-width: 767.98px) {
            margin-top: -80px;
            background: transparent;
            padding-bottom: 40px;
        }

        >.container {
            max-width: 1047px;
        }

        &__list {
            margin-top: 80px;

            @media (max-width: 1199.98px) {
                margin-top: 60px;
            }

            @media (max-width: 767.98px) {
                margin-top: 40px;
            }

            .point-item {
                gap: 40px;

                @media (max-width: 767.98px) {
                    gap: 30px
                }

                &:not(:last-child) {
                    padding-bottom: 35px;
                    border-bottom: 1px solid #333;

                    @media (max-width: 767.98px) {
                        padding-bottom: 32px;
                    }
                }

                &:not(:first-child) {
                    padding-top: 40px;

                    @media (max-width: 767.98px) {
                        padding-top: 30px;
                    }
                }

                &:nth-child(2) {
                    .point-item-subtitle {
                        max-width: 424px;
                    }

                    .point-item-description {
                        max-width: 350px;
                    }
                }

                &:nth-child(3) {
                    .point-item-subtitle {
                        max-width: 467px;
                    }

                    .point-item-description {
                        max-width: 435px;
                    }
                }

                &:nth-child(4) {
                    .point-item-subtitle {
                        max-width: 510px;
                    }

                    .point-item-description {
                        max-width: 380px;
                    }
                }

                &-image {
                    width: 454px;
                    flex-shrink: 0;

                    @media (max-width: 1199.98px) {
                        width: 380px;
                    }

                    @media (max-width: 767.98px) {
                        width: 100%;
                    }
                }

                &-content {
                    text-align: left;

                    @media (max-width: 767.98px) {
                        width: 100%;
                    }
                }

                &-title {
                    font-size: 34px;
                    line-height: 35px;
                    font-weight: 600;
                    letter-spacing: 0.06em;
                    color: $color-secondary;
                    font-family: $font-quaternary;

                    @media (max-width: 1199.98px) {
                        font-size: 24px;
                    }

                    @media (max-width: 767.98px) {
                        font-size: 17px;
                        line-height: 100%;
                        letter-spacing: 0.03em;
                    }
                }

                &-subtitle {
                    font-family: $font-quaternary;
                    color: $color-primary;
                    margin-top: 5px;
                }

                &-description {
                    font-size: 20px;
                    line-height: 32px;
                    font-weight: 600;
                    letter-spacing: 0.06em;
                    color: #333333;
                    margin-top: 20px;

                    @media (max-width: 1199.98px) {
                        font-size: 16px;
                        line-height: 1.5;
                    }

                    @media (max-width: 767.98px) {
                        font-size: 14px;
                        line-height: 30px;
                        letter-spacing: 0.03em;
                        margin-top: 5px;
                    }
                }

                &-image {
                    margin-top: 24px;
                }

                &-text {
                    font-size: 16px;
                    line-height: 30.6px;
                    letter-spacing: 0.02em;
                    color: #333;
                    margin-top: 28px;
                    font-weight: 300;

                    @media (max-width: 767.98px) {
                        font-size: 15px;
                        letter-spacing: 0.01em;
                        margin-top: 20px;
                    }

                    span {
                        width: 100%;
                        display: inline-block;
                    }
                }

                &__features {
                    gap: 10px;
                    margin-top: 32px;

                    @media (max-width: 767.98px) {
                        margin-top: 16px;
                    }

                    .feature-item {
                        background: #f4f5f6;
                        border-radius: 6px;
                        padding: 15px 12px;

                        @media (max-width: 767.98px) {
                            padding: 10px 6px;
                        }

                        p {
                            font-size: 16px;
                            font-weight: 300;
                            line-height: 30.6px;
                            letter-spacing: 0.02em;
                            color: #333333;
                            font-family: $font-primary;

                            @media (max-width: 767.98px) {
                                line-height: 1.35;
                            }
                        }

                        &-header {
                            gap: 5px;

                            svg {
                                width: 100%;
                                height: auto;
                                max-width: 20px;

                                path {
                                    fill: $color-primary;
                                }
                            }

                            p {
                                font-weight: 600;
                            }
                        }

                        &-text {
                            padding-left: 24px;
                            padding-top: 8px;
                        }
                    }
                }

                &:nth-child(even) {
                    @media (min-width: 1024px) {
                        flex-direction: row-reverse;
                    }
                }
            }
        }

        &__gallerys {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px 90px;
            margin-top: 80px;

            @media (max-width: 1199.98px) {
                gap: 30px 40px;
                margin-top: 60px;
            }

            @media (max-width: 767.98px) {
                grid-template-columns: repeat(1, 1fr);
                margin-top: 40px;
                gap: 30px;
            }

            .gallery-item {
                img {
                    width: 100%;
                    height: 330px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 10px;

                    @media (max-width: 1199.98px) {
                        height: 300px;
                    }

                    @media (max-width: 767.98px) {
                        height: 238px;
                    }
                }

                p {
                    font-size: 16px;
                    line-height: 30.6px;
                    font-weight: 300;
                    color: #333333;
                    font-family: $font-quaternary;
                    margin-top: 24px;

                    @media (max-width: 767.98px) {
                        margin-top: 16px;
                        font-size: 11px;
                        line-height: 22px;
                    }
                }
            }
        }
    }

    .perk-section {
        padding-bottom: 100px;

        @media (max-width: 1023.98px) {
            padding-bottom: 60px;
        }

        @media (max-width: 767.98px) {
            padding-bottom: 28px;
        }

        .nmc-section-bg img {
            background-position: top center;
        }

        >.container {
            max-width: 1047px;

            .ncm-heading-highlight {
                color: #ffffff;
            }

            p {
                color: #692f6e
            }
        }

        &-warp {
            p {
                margin-top: -10px;

                @media (max-width: 767.98px) {
                    margin: 0;
                }
            }
        }

        &-content {
            margin-top: 50px;

            @media (max-width: 767.98px) {
                margin-top: 24px;
            }

            img {
                width: 100%;
                height: auto;
            }

            p {
                color: #333333 !important;
                font-size: 16px;
                line-height: 30.6px;
                letter-spacing: 0.02em;
                max-width: 665px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 60px;

                @media (max-width: 1023.98px) {
                    margin-top: 48px;
                }

                @media (max-width: 767.98px) {
                    font-size: 15px;
                    margin-top: 32px;
                }
            }

            h2 {
                color: #692f6e;
                margin-top: 24px;

                @media (max-width: 767.98px) {
                    margin-top: 10px;
                    max-width: 280px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            h3 {
                font-size: 26px;
                letter-spacing: 0.01em;
                color: #333333;
                margin: 20px 0 50px 0;

                @media (max-width: 1023.98px) {
                    font-size: 22px;
                    margin-bottom: 32px;
                }

                @media (max-width: 767.98px) {
                    font-size: 17px;
                    margin: 10px 0 22px 0;
                }
            }
        }
    }

    .plan-section {
        padding-bottom: 90px;

        @media (max-width: 767.98px) {
            padding-top: 10px;
            padding-bottom: 45px;
        }

        >.container {
            max-width: 1047px;
        }

        p.h2 {
            margin-top: -10px;

            @media (max-width: 767.98px) {
                margin-top: -5px;
            }
        }

        .plan-item {
            background: #eeeeee;
            margin-top: 80px;

            @media (max-width: 1023.98px) {
                margin-top: 60px;
            }

            @media (max-width: 767.98px) {
                margin-top: 40px;
            }

            &__left {
                width: 311px;
                height: 256px;
                flex-shrink: 0;
                background: $color-primary;
                padding: 0 30px;

                @media (max-width: 1023.98px) {
                    width: 290px;
                    padding: 0 10px;
                }

                @media (max-width: 767.98px) {
                    width: 100%;
                    padding: 20px;
                    height: auto;
                }

                h3 {
                    color: #ffffff;
                    letter-spacing: 0.04em;
                    font-weight: 600;

                    @media (max-width: 767.98px) {
                        font-size: 15px;
                        max-width: 175px;
                    }
                }
            }

            &__right {
                text-align: left;
                font-size: 20px;
                letter-spacing: 0.04em;
                color: #333333;
                padding: 30px;

                @media (max-width: 1023.98px) {
                    padding: 20px;
                    font-size: 18px;
                }

                @media (max-width: 767.98px) {
                    padding: 12px 20px;
                    font-size: 15px;
                    letter-spacing: 0.02em;
                }

                ul {
                    @media (max-width: 767.98px) {
                        padding-left: 10px;
                    }

                    li {
                        &:not(:last-child) {
                            margin-bottom: 10px;

                            @media (max-width: 767.98px) {
                                margin-bottom: 6px;
                            }
                        }
                    }
                }
            }
        }
    }

    .event-section {
        padding-bottom: 90px;

        @media (max-width: 767.98px) {
            padding-top: 15px;
            padding-bottom: 60px;
        }

        >.container {
            max-width: 1047px;
        }

        .nmc-section-bg img {
            object-position: top center;
        }

        .ncm-heading-highlight {
            color: #ffffff;
        }

        p.h2 {
            margin-top: -15px;

            @media (max-width: 767.98px) {
                margin-top: -5px;
            }
        }

        &-content {
            background: #fff;
            padding: 120px 20px 20px 20px;
            color: #333333;
            min-height: 490px;
            margin-top: 60px;

            @media (max-width: 767.98px) {
                margin-top: 55px;
                min-height: 198px;
                padding: 32px 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                >* {
                    width: 100%;
                }
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }

            h2 {
                @media (max-width: 767.98px) {
                    font-size: 15px;
                }
            }
        }

        .event-list {
            margin-top: 50px;

            @media (max-width: 767.98px) {
                margin-top: 32px;
            }
        }
    }

    .steps-section {
        background: #fdf9f6;
        padding-bottom: 100px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);

        @media (max-width: 1023.98px) {
            padding-bottom: 80px;
        }

        @media (max-width: 767.98px) {
            padding-bottom: 48px;
            padding-top: 12px;
        }

        >.container {
            max-width: 842px;
        }

        .ncm-heading-highlight {
            color: #f5f3f1;
        }

        p.h2 {
            margin-top: -15px;

            @media (max-width: 767.98px) {
                margin-top: -5px;
            }
        }

        &__list {
            gap: 30px;
            margin-top: 80px;

            @media (max-width: 1023.98px) {
                margin-top: 60px;
            }

            @media (max-width: 767.98px) {
                margin-top: 30px;
                gap: 20px;
            }

            .step-item {
                background: #fff;
                border-radius: 14px;
                overflow: hidden;
                box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);

                >img {
                    width: 260px;
                    height: 160px;
                    object-fit: cover;
                    flex-shrink: 0;

                    @media (max-width: 1023.98px) {
                        width: 200px;
                    }

                    @media (max-width: 767.98px) {
                        width: 103px;
                        height: 93px;
                    }
                }

                &__arrow {
                    img {
                        width: 100%;
                        height: auto;
                        max-width: 32px;

                        @media (max-width: 767.98px) {
                            max-width: 24px;
                        }
                    }
                }

                &__number {
                    background: $color-primary;
                    color: #fff;
                    padding: 20px;
                    height: 100%;
                    font-weight: 500;
                    font-size: 51.88px;
                    line-height: 44.68px;
                    letter-spacing: 0.06em;
                    gap: 10px;
                    flex-shrink: 0;

                    @media (max-width: 1023.98px) {
                        font-size: 36px;
                        line-height: 28px;
                        padding: 20px 10px;
                    }

                    @media (max-width: 767.98px) {
                        font-size: 27px;
                        line-height: 23px;
                        padding: 20px 5px;
                    }

                    span {
                        color: #c4a371;
                        font-weight: 500;
                        font-size: 19.27px;
                        line-height: 16.58px;
                        letter-spacing: 0.06em;
                        text-transform: uppercase;

                        @media (max-width: 767.98px) {
                            font-size: 10px;
                            letter-spacing: 0.03em;
                            line-height: 8px;
                        }
                    }
                }

                &__content {
                    padding: 20px;
                    gap: 18px;

                    @media (max-width: 767.98px) {
                        gap: 8px;
                        padding: 12px 10px;
                    }

                    >* {
                        text-align: left;
                    }

                    h3 {
                        font-weight: 600;
                        color: #000000;
                        line-height: 31px;
                        letter-spacing: 0.06em;

                        @media (max-width: 1023.98px) {
                            font-size: 20px;
                            line-height: 26px;
                        }

                        @media (max-width: 767.98px) {
                            font-size: 12.5px;
                            line-height: 16px;
                        }
                    }

                    p {
                        font-size: 18px;
                        line-height: 26px;
                        letter-spacing: 0.06em;
                        color: #000;
                        font-weight: 300;

                        @media (max-width: 1023.98px) {
                            font-size: 16px;
                            line-height: 24px;
                        }

                        @media (max-width: 767.98px) {
                            font-size: 9px;
                            line-height: 12px;
                        }
                    }
                }
            }
        }
    }


    .faqs-section {
        background: #fff;
        padding-bottom: 100px;

        @media (max-width: 1023.98px) {
            padding-bottom: 80px;
        }

        @media (max-width: 767.98px) {
            padding-bottom: 48px;
            padding-top: 12px;
        }

        >.container {
            max-width: 968px;
        }

        p.h2 {
            margin-top: 4px;
        }

        &__list {
            gap: 24px;
            margin-top: 60px;

            @media (max-width: 767.98px) {
                margin-top: 30px;
                gap: 16px;
            }

            .faq-item {
                &__question {
                    background: $color-primary;
                    color: #fff;
                    padding: 24px 20px;
                    gap: 10px;
                    cursor: pointer;

                    @media (max-width: 767.98px) {
                        padding: 9px 9px;
                        gap: 5px;
                    }

                    p {
                        font-size: 18px;
                        line-height: 1.45;
                        font-weight: 300;
                        letter-spacing: 0.2em;
                        -webkit-font-smoothing: antialiased;
                        text-align: left;

                        @media (max-width: 1023.98px) {
                            font-size: 18px;
                        }

                        @media (max-width: 767.98px) {
                            font-size: 15px;
                        }

                        span {
                            font-weight: 600;
                        }
                    }
                }

                &__arrow {
                    position: relative;

                    svg {
                        transition: $transition-base;

                        @media (max-width: 767.98px) {
                            width: 100%;
                            height: auto;
                            max-width: 20px;
                        }

                        path {
                            stroke: #fff;
                        }

                        &:first-child {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }

                &__answer {
                    display: none;

                    &-wrapper {
                        background: #eeeeee;
                        margin-top: 4px;
                        padding: 20px;
                        font-size: 18px;
                        line-height: 1.45;
                        font-weight: 300;
                        letter-spacing: 0.2em;
                        -webkit-font-smoothing: antialiased;
                        color: #000000;
                        text-align: left;

                        @media (max-width: 1023.98px) {
                            font-size: 18px;
                        }

                        @media (max-width: 767.98px) {
                            font-size: 15px;
                            padding: 15px 9px;
                        }

                        >p {
                            font-weight: 600;
                            color: $color-primary;
                        }

                        .content {
                            p {
                                margin: 0;
                            }
                        }
                    }
                }

                &.is-active {
                    .faq-item__arrow {
                        svg {
                            opacity: 0;
                            visibility: hidden;

                            &:first-child {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }

    .perk-grid-section {
        background: #fdf9f6;
        padding-bottom: 70px;

        @media (max-width: 767.98px) {
            padding-bottom: 48px;
            padding-top: 10px;
        }

        .container {
            max-width: 1060px;
        }

        .ncm-heading-highlight {
            color: #f5f3f1;
        }

        .desc {
            font-size: 18px;
            letter-spacing: 0.2em;
            font-weight: 600;
            margin-top: 16px;
            color: $color-primary;
            margin-top: 10px;
        }

        .perks-list {
            gap: 66px 40px;
            margin-top: 66px;

            @media (max-width: 767.98px) {
                gap: 40px 20px;
            }

            .perk-item {
                width: calc((100% / 3) - (80px / 3));
                border: 1px solid $color-secondary;
                border-radius: 10px;
                padding: 30px 24px 24px 24px;
                position: relative;

                @media (max-width: 1023.98px) {
                    width: calc((100% / 2) - (40px / 2));
                }

                @media (max-width: 767.98px) {
                    width: 100%;
                    padding: 22px 12px 12px 12px;
                }

                img {
                    width: 100%;
                    height: 188px;

                    @media (max-width: 767.98px) {
                        height: 215px;
                    }
                }

                p {
                    font-size: 18px;
                    font-weight: 600;
                    letter-spacing: 0.2em;
                    color: $color-primary;

                    @media (max-width: 767.98px) {
                        font-size: 16px;
                    }
                }

                &__number {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: -30px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: $color-primary;
                    color: #fff;
                    font-size: 16.14px;
                    font-weight: 600;
                    letter-spacing: 0.2em;
                    -webkit-font-smoothing: antialiased;

                    @media (max-width: 767.98px) {
                        width: 42px;
                        height: 42px;
                        font-size: 16px;
                        padding: 0 0 0 3px
                    }
                }

                &__content {
                    height: 100%;
                    align-content: space-between;
                    gap: 20px;

                    @media (max-width: 767.98px) {
                        gap: 12px;
                    }
                }
            }
        }
    }


    .company-section {
        padding-bottom: 50px;

        @media (max-width: 767.98px) {
            padding-top: 14px;
        }

        >.container {
            max-width: 840px;

            p.h2 {
                margin-top: -15px;

                @media (max-width: 767.98px) {
                    margin-top: -10px;
                }
            }
        }

        .company-content {
            margin-top: 40px;
            background: #eeeeee;

            @media (max-width: 767.98px) {
                margin-top: 32px;
            }

            .company-content-item {
                font-size: 16px;
                line-height: 32.29px;
                font-weight: 600;
                letter-spacing: 0.06em;
                color: #333333;

                @media (max-width: 1023.98px) {
                    font-size: 14px;
                    line-height: 28px;
                }

                @media (max-width: 767.98px) {
                    font-size: 12px;
                    line-height: 24px;
                    letter-spacing: 0.03em;
                }

                &:not(:last-child) {
                    border-bottom: 1px solid #bcbdc7;
                }

                &__left {
                    width: 25%;
                    flex-shrink: 0;
                    color: #fff;
                    background: $color-primary;
                    padding: 0 10px;
                    height: 100%;

                    @media (max-width: 767.98px) {
                        width: 35%;
                        max-width: 108px;
                    }

                }

                &__right {
                    padding: 17px 20px;

                    @media (max-width: 767.98px) {
                        width: 70%;
                    }
                }
            }
        }
    }
}