.page-template-company-template {
    .hero-section {
        background: #fff;
        padding-bottom: 60px;

        @media (max-width: 767.98px) {
            padding-bottom: 45px;
            padding-top: 10px;
        }

        >.container {
            max-width: 840px;
        }

        p.h2 {
            margin-top: -15px;
            color: #56007b;

            @media (max-width: 767.98px) {
                margin-top: -5px;
            }
        }


        .company-content {
            margin-top: 60px;
            background: #eeeeee;

            @media (max-width: 767.98px) {
                margin-top: 40px;
            }

            .company-content-item {
                font-size: 16px;
                line-height: 32.29px;
                font-weight: 600;
                letter-spacing: 0.06em;
                color: #333333;

                @media (max-width: 1023.98px) {
                    font-size: 14px;
                    line-height: 28px;
                }

                @media (max-width: 767.98px) {
                    font-size: 12px;
                    line-height: 24px;
                    letter-spacing: 0.03em;
                }

                &:not(:last-child) {
                    border-bottom: 1px solid #bcbdc7;
                }

                &__left {
                    width: 25%;
                    flex-shrink: 0;
                    color: #fff;
                    background: $color-primary;
                    padding: 0 10px;
                    height: 100%;

                    @media (max-width: 767.98px) {
                        width: 35%;
                        max-width: 108px;
                    }

                }

                &__right {
                    padding: 17px 20px;

                    @media (max-width: 767.98px) {
                        width: 70%;
                    }

                    span {
                        width: 100%;
                        line-height: 1.55;
                        display: inline-block;
                        text-align: left;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .access-section {

        >.container {
            max-width: 840px;
        }

    }
}