.home {
    .hero-section {
        width: 100%;
        position: relative;
        overflow: hidden;
        padding-top: 117px;
        padding-bottom: 80px;

        @media (max-width: 767.98px) {
            padding-top: 140px;
            padding-bottom: 150px;
        }

        &-images {
            img {
                position: absolute;
                width: 32%;
                height: auto;
                max-width: fit-content;
                animation: n9_zoom 14s ease infinite;

                @media (max-width: 767.98px) {
                    width: 50%;
                }
            }

            .image-left {
                left: 0;
                bottom: 0;
            }

            .image-right {
                right: 3%;
                bottom: 4%;

                @media (max-width: 767.98px) {
                    right: 0;
                    bottom: 0;
                }
            }

            .image-left-top {
                left: 0;
                top: 0;
            }

            .image-left-bottom {
                left: 0;
                bottom: 0;
            }
        }

        .hero-section-bg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none; // Prevent interacting with the video
            z-index: 0;

            iframe {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 150vw;
                height: 150vh;
                transform: translate(-50%, -50%);

                @media (min-aspect-ratio: 16/9) {
                    height: 56.25vw;
                }

                @media (max-aspect-ratio: 16/9) {
                    width: 177.78vh;
                }
            }

            // Optional overlay to darken video and make text clear
            // &::after {
            //     content: '';
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 100%;
            //     background: rgba(0, 0, 0, 0.4);
            // }
        }

        .container {
            position: relative;
            z-index: 1;
            height: 100%;
            display: flex;
            align-items: center;
        }

        &__logo {
            img {
                width: 100%;
                height: auto;
                max-width: 159px;

                @media (max-width: 767.98px) {
                    max-width: 144px;
                }
            }
        }

        .hero-section-content {
            color: #fff;

            h1 {
                font-family: "Noto Serif JP", serif;
                font-weight: 600;
                margin-bottom: 30px;
                margin-top: 40px;

                @media (max-width: 767.98px) {
                    margin-top: 20px;
                    max-width: 335px;
                    margin-left: auto;
                    margin-right: auto;
                }

                span {
                    color: $color-bronze;

                    @media (max-width: 767.98px) {
                        display: inline-block;
                        width: 100%;
                    }

                    em {
                        font-style: inherit;
                        position: relative;

                        &::before {
                            content: '•';
                            position: absolute;
                            top: -0.8em;
                            left: 50%;
                            transform: translateX(-50%);
                            font-size: 0.8em;
                            color: currentColor;
                            line-height: 1;
                        }
                    }

                    b {
                        font-size: inherit;
                        font-weight: inherit;
                        color: var(--bs-heading-color);
                    }
                }
            }
        }
    }

    .logos-section {
        overflow: hidden;
        padding: 32px 0;
        background-color: #fff;

        @media (max-width: 767.98px) {
            padding: 22px 0;
        }

        &__marquee {
            display: flex;
            align-items: center;
            width: max-content;
            animation: marquee-scroll 40s linear infinite;
            cursor: pointer;
            will-change: transform;

            img {
                height: 100%;
                max-height: 74px;
                width: auto;
                max-width: none;
                margin: 0 20px;
                object-fit: contain;

                @media (max-width: 767.98px) {
                    margin: 0 16x;
                    max-height: 36px;
                }
            }

            // Optional: Pause animation on hover
            &:hover {
                animation-play-state: paused;
            }
        }
    }

    .vertex-section {
        position: relative;
        overflow: hidden;
        padding-top: 00px;
        padding-bottom: 110px;

        @media (max-width: 767.98px) {
            padding: 0px 0 60px 0;
        }

        .vertex-section-bg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
            z-index: 0;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                transform: translate(-50%, -50%);
                object-fit: cover;
                object-position: top center;
            }

            &::after {
                @media (min-width: 768px) {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba($color: $color-primary, $alpha: 0.72);
                }
            }
        }


        &__sub-text {
            margin: 0;
            overflow: hidden;
            width: 100%;

            .text-marquee {
                display: flex;
                width: max-content;
                animation: marquee-scroll 160s linear infinite;
                will-change: transform;

                span {

                    font-size: 75.95px;
                    line-height: 1;
                    font-weight: 700;
                    letter-spacing: 0.06em;
                    font-family: $font-cinzel;
                    color: rgba($color: #fff, $alpha: 0.3);
                    white-space: nowrap;
                    display: block;

                    @media (max-width: 1023.98px) {
                        font-size: 60px;
                    }

                    @media (max-width: 767.98px) {
                        font-size: 47px;
                        letter-spacing: 0.03em;
                    }
                }
            }
        }


        &-content {
            color: #fff;
            max-width: 1011px;
            margin: 0 auto;
            text-align: center;
            margin-top: 30px;

            h2 {
                color: #fff;
                text-align: center;
                max-width: 699px;
                z-index: 99;
                position: relative;
                margin: 0 auto;
                margin-bottom: 60px;
                font-size: 31px;
                line-height: 57.76px;

                @media (max-width: 1199.98px) {
                    margin-bottom: 48px;
                }

                @media (max-width: 1023.98px) {
                    margin-bottom: 32px;
                    font-size: 24px;
                    line-height: 44px;
                }

                @media (max-width: 767.98px) {
                    margin-bottom: 24px;
                    font-size: 20px;
                    line-height: 37px;

                    >span {
                        display: inline-block;
                        width: 100%;
                    }
                }
            }
        }

        &__video {
            width: 100%;
            position: relative;
            height: 556px;
            overflow: hidden;
            border-radius: 20px;

            @media (max-width: 1199.98px) {
                height: 400px;
            }

            @media (max-width: 1023.98px) {
                height: 300px;
            }

            @media (max-width: 767.98px) {
                height: 200px;
            }

            iframe,
            figure {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                border: 0;
            }

            iframe {
                pointer-events: none;
                transform: scale(1.3);
            }

            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 0;
            }
        }
    }

    .about-section {
        padding-top: 0px;
        padding-bottom: 120px;

        @media (max-width: 1199.98px) {
            padding-bottom: 90px;
        }

        @media (max-width: 767.98px) {
            padding-top: 0px;
            padding-bottom: 60px;
        }

        &-bg {
            img {
                object-position: top center;
            }
        }

        &-content {
            text-align: center;
        }

        &__desc {
            margin: -10px 0 0 0;
            color: #3c0058;
        }

        &__media {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;
            max-width: 1164px;
            margin-top: 90px;
            margin-left: auto;
            margin-right: auto;

            @media (max-width: 1399.98px) {
                margin-top: 60px;
            }

            @media (max-width: 1199.98px) {
                margin-top: 40px;
            }

            @media (max-width: 1023.98px) {
                margin-top: 30px;
                gap: 50px;
            }

            @media (max-width: 767.98px) {
                margin-top: 20px;
                grid-template-columns: repeat(1, 1fr);
            }

            &__image {
                @media (max-width: 767.98px) {
                    order: 2;
                }

                img {
                    width: 100%;
                    height: auto;
                    max-width: 444px;
                    border-radius: 10px;
                    max-height: 246px;
                    object-fit: cover;
                    object-position: center;

                    @media (max-width: 767.98px) {
                        width: 100%;
                        max-width: 100%;
                        max-height: 186px;
                    }
                }
            }

            &__text {
                @media (max-width: 767.98px) {
                    order: 1;
                }

                p {
                    text-align: left;
                    font-size: 18px;
                    line-height: 30.6px;
                    letter-spacing: 0.02em;
                    margin: 0;
                    color: $color-blue;

                    @media (max-width: 767.98px) {
                        text-align: center;
                        width: 100%;
                        margin-left: auto;
                        margin-right: auto;
                        font-size: 14px;
                        line-height: 23px;
                        letter-spacing: 0.01em;
                        max-width: 250px !important;
                    }

                    &:not(:last-child) {
                        margin-bottom: 24px;

                        @media (max-width: 767.98px) {
                            max-width: 215px !important;
                        }
                    }

                    &:first-child {
                        max-width: 300px;
                    }

                    &:nth-child(2) {
                        max-width: 315px;
                    }
                }
            }
        }

        .nmc-button {
            padding-left: 60px;
            gap: 24px;
            margin-top: 50px;

            @media (max-width: 767.98px) {
                margin-top: 35px;
                gap: 16px;
            }
        }

        &__image {
            overflow: hidden;
            border-radius: 20px;
            position: relative;
            width: 100%;
            height: 556px;
            max-width: 1000px;
            margin-top: 120px;
            margin-left: auto;
            margin-right: auto;

            @media (max-width: 1399.98px) {
                margin-top: 90px;
            }

            @media (max-width: 1199.98px) {
                margin-top: 60px;
                height: 400px;
            }

            @media (max-width: 767.98px) {
                margin-top: 50px;
                height: 200px;
            }

            iframe,
            figure {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                border: 0;
            }

            iframe {
                pointer-events: none;
                transform: scale(1.3);
            }

            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 0;
            }
        }
    }

    .rinen-section {
        padding-bottom: 60px;

        >.container {
            text-align: center;
        }

        .ncm-heading-highlight {
            color: #fff;
        }

        &__desc {
            color: #3c0058;
        }

        &-content {
            width: 100%;
            max-width: 970px;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            color: $color-blue;
            font-family: $font-quaternary;

            @media (max-width: 767.98px) {
                text-align: center;
                margin-top: 10px;
            }

            span {
                font-size: 14px;
                line-height: 16.73px;
                font-weight: 300;
                padding-left: 20px;

                @media (max-width: 767.98px) {
                    font-size: 11px;
                    line-height: 8px;
                    letter-spacing: 0.02em;
                }
            }

            h3 {
                font-family: "Noto Serif JP", serif;
                font-weight: 300;
                font-size: 24px;
                line-height: 30.6px;
                letter-spacing: 0.48px;
                color: $color-blue;
                margin-left: -10px !important;
                margin-bottom: 32px !important;

                @media (max-width: 767.98px) {
                    font-size: 22px;
                    letter-spacing: 0.01em;
                    padding-bottom: 8px;
                    margin-bottom: 24px !important;
                }
            }

            p {
                font-size: 16px;
                line-height: 30.6px;
                letter-spacing: 0.32px;
                margin: 0;
                font-weight: 300;

                @media (max-width: 767.98px) {
                    font-size: 14px;
                    line-height: 23px;
                    letter-spacing: 0.01em;
                }
            }

            .item {
                margin-top: 32px;

                @media (max-width: 767.98px) {
                    margin-top: 28px;
                }
            }

            .author {
                font-family: "Noto Serif JP", serif;
                margin-top: 20px;
                font-weight: 300;
                font-size: 20px;
                line-height: 30.6px;
                letter-spacing: 0.4px;

                @media (max-width: 767.98px) {
                    font-size: 18px;
                    letter-spacing: 0.01em;
                    line-height: 15px;
                    margin-top: 40px;
                }
            }
        }
    }

    .nmc-ss-cate-posts {
        padding-bottom: 70px;

        @media (max-width: 1023.98px) {
            padding-bottom: 60px;
        }

        @media (max-width: 767.98px) {
            padding-bottom: 40px;
        }

        >.container {
            max-width: 1042px;
        }

    }

    .record-section {
        position: relative;
        background: #fff;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(237 237 237 / 80%);
            z-index: 1;
        }
    }

    .partners-section {
        padding-bottom: 142px;
        overflow: hidden;

        @media (max-width: 1199.98px) {
            padding-bottom: 90px;
        }

        @media (max-width: 1023.98px) {
            padding-bottom: 60px;
        }

        @media (max-width: 767.98px) {
            padding-bottom: 45px;
        }

        >.container {
            max-width: 1042px;
        }

        .ncm-heading-highlight {
            color: #230a5c;
            margin-top: -30px !important;

            @media (max-width: 1199.98px) {
                margin-top: -25px !important;
            }

            @media (max-width: 1023.98px) {
                margin-top: -25px !important;
            }

            @media (max-width: 767.98px) {
                margin-top: 0 !important;
            }
        }

        &__desc {
            color: #fff;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0px;
            margin-top: 60px;

            @media (max-width:1199.98px) {
                margin-top: 40px;
            }

            @media (max-width: 767.98px) {
                grid-template-columns: repeat(2, 1fr);
                gap: 20px 0;
                margin-top: 20px;
            }

            .item-partner {
                transition: $transition-base;
                cursor: pointer;

                &:hover {
                    transform: translateY(-10px);
                }

                &__thumbnail {
                    width: 100%;
                    height: auto;
                    position: relative;
                    overflow: hidden;

                    >img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        max-width: calc(87% - 8px);
                        max-height: calc(87% - 10px);
                        border-radius: 105px;
                    }

                    .bg img {
                        width: 100%;
                        aspect-ratio: 9 / 16;
                        object-fit: cover;
                        object-position: center;
                        display: block;
                    }
                }

                &__title {
                    line-height: 21.55px;
                    font-size: 18px;
                    font-weight: 500;
                    font-family: $font-second ;
                    color: #ffffff;

                    @media (max-width: 767.98px) {
                        font-size: 15px;
                        line-height: 13px;
                        letter-spacing: 0.03em;
                    }
                }
            }
        }

        &__action {
            margin-top: 70px;

            @media (max-width: 767.98px) {
                margin-top: 42px;
            }
        }
    }

    .voice-section {
        display: none;
    }
}